<header>
    <link rel="stylesheet" href="/css/navbar.css">
    <nav class="">
        <ul class="">
            <li>
                <a class="active" href="/">Home</a>
            </li>
            <li>
                <a  href="/students/admission">Register A new Student</a>
            </li>
            <li>
                <a href="/students/show">List Students</a>
            </li>
        </ul>
    </nav>
</header>